events {
  worker_connections  4096;  ## Default: 1024
}

http {
  server {

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    location / {
      proxy_pass http://backend;
    }
  }

  upstream backend {
    server app:{{ port }};
  }
}
